.App {
  text-align: center;
}

.App-header {
  background-color: #dd82c2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bkspace{
  background-color: #ffffff;
  width: 400px;
  color:#000000;
}

.navArea{
  border-bottom: 1px solid #9b9b9b;
  text-align: left;
  padding-left: 15px;
}

/* .herospace{

} */

.banHeader{
  margin-top: 10px;
  text-align: left;
  padding-left: 15px;
}

.banText{
  width: 250px;
  text-align: left;
  padding-left: 15px;
  font-size: 0.6em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.cardspace{
  border: 0px solid #FF0000;
  margin: 15px;
  max-width: 180px;
  padding: 5px;
}

.para{
  margin-top: 5px;
  font-size: 0.6em;
  text-align: left;
}
.rateSpace{
  margin-left: 5px;
}
.shade{
  color: #9b9b9b;
}
.title{
  font-size: 0.90em;
}
.price{
  font-weight:bold;
  font-size: 0.90em;
}
.person{
  font-size: 0.90em;
}