
.App {
  text-align: center;
  display: grid;
  grid-template-columns: auto;  
  grid-template-rows: auto;  
}

.App-header {
  background-color: #dd82c2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.bkspace{
  background-color: #ffffff;
  color:#000000;
}
.banner{
  width: 100% \9;
}

.navArea{
  border-bottom: 1px solid #9b9b9b;
  text-align: left;
  padding-left: 15px;
}
.head-text{
  text-align: left;
  padding-left: 15px;
}
.banHeader{
  margin-top: 10px;
  font-size: 1.6em;
  font-weight:bold;
}

.banText{
  font-size: 0.6em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.cardspace{
  border: 0px solid #FF0000;
  margin: 15px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.para{
  border: 0px solid #FF0000;
  margin-top: 5px;
  font-size: 0.6em;
  max-width: 175px;
  text-align: left;
  
}
.rateSpace{
  margin-left: 5px;
  margin-right: 5px;
  font-size: 0.7em;
  font-weight: 500;
}
.shade{
  color: #918E9B;
  font-size: 0.7em;
}
.title{
  font-size: 0.6em;
}
.price{
  font-weight:bold;
  font-size: 0.6em;
}
.person{
  font-size: 0.6em;
}